@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Josefin+Slab');

html, body {
    margin: 0px;
    background: black;
    height: 100%;
}

h3 {
    margin: 10px 0 10px 0;
}

.main {
    overflow: hidden;
    position: relative;
}
.main img {
    width: 100%;
}

.links {
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75)
}
.links img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
}

/* Introduction */
.intro {
    overflow: hidden;
    color: black;
    font-size: 30px;
    font-family: "EB Garamond";
/*    font-family: "Josefin Slab";*/
    text-align: justify;
    padding: 25px;
    background-color: white;
}
.intro th {
    padding: 30px;
}
.intro th:first-child {
    border-right: rgba(0, 0, 0, 0.5) 1px dashed;
}
.intro th:last-child {
    padding-left: 80px;
}
.intro table {
    width: 100%;
}
.intro-text {
    white-space: pre-line;
    text-align: justify;
    padding: 10px;
    font-size: 24px;
    font-weight: 100;
}
.intro-contact-info {
    line-height: 50px;
    min-width: 400px;
    font-size: 30px;
}


.education {
    border-top: dashed black 2px;
    overflow: hidden;
    color: black;
    font-family: "EB Garamond", serif;
    font-size: 22px;
    text-align: justify;
    padding: 25px;
    background-color: paleturquoise;
    font-weight: 100;
}

.special-symbol {
    color: firebrick;
}

.experience {
    border-top: dashed black 2px;
    overflow: hidden;
    color: black;
    font-family: "EB Garamond", serif;
    font-size: 22px;
    text-align: justify;
    padding: 25px;
    background-color: #FFE082;
    font-weight: 100;
}

.experience-section {
    border: dashed rgba(0, 0, 0, 0.5) 1px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.35);
    margin-bottom: 10px;
    font-family: "Josefin Slab", serif;
    font-size: large;
    padding: 15px;
}

.experience-body {
    white-space: pre-line;
    line-height: 28px;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: black;
    text-align: justify;
    margin-bottom: 0;
}